.div {
    height: 400px;
    width: 100px;
    border: black 1px solid;
    margin-left: 20px;
    text-align: center;
    position: absolute;
}

.div1 {
    position: absolute;
    top: 50px;
    left: 100px;
}

.div2 {
    position: absolute;
    top: 50px;
    left: 250px;
}

.div3 {
    position: absolute;
    top: 50px;
    left: 400px;
}

.div4 {
    position: absolute;
    top: 50px;
    left: 550px;
}

.main-div {
    display: flex;
}