.map {
    margin-left: 200px;
    margin-top: 100px;
}

iframe {
    border-radius: 15px;
}

.main-div {
    display: flex;
}

.sign-up {
    margin-left: 10ch;
    margin-top: 13ch;
}

label {
    font-family: Arial, Helvetica, sans-serif;
}

.input {
    width: 435px;
    height: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid black;
}

h2,
h4 {
    font-family: Arial, Helvetica, sans-serif;
}

.text-area {
    width: 435px;
    height: 150px;
    border: 2px solid black;
}

h4 {
    font-weight: 400;
}

button {
    width: 445px;
    background-color: black;
    color: white;
    height: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    margin-top: 1.5ch;
}